
@{
    ViewBag.Title = "Delete";
}

<h2>Delete a property</h2>
<div>
    <form method="post" action="~/Property/Delete">
        <dl>
           <dt>House Id *</dt>
           <dd><input type="text" name="HouseId" /></dd>

            <dt>&nbsp;</dt>

            <dt><input type="submit" value="Delete" /></dt>

        </dl>

    </form>
</div>
