
@{
    ViewBag.Title = "ListSucceeded";
}

<h2>List Succeeded</h2>
Your Property has been listed.<br />
@Html.ActionLink("List an another property", "Add", "Property")
@Html.ActionLink("Go to Property market", "Index", "Property")
