
@{
    ViewBag.Title = "Update";
}

<h2>Update property</h2>
<div class="col-4">
    <form method="post" action="~/Property/Update">
        <dl>
            <dt>House ID *</dt>
            <dd><input type="text" name="HouseId" /></dd>

            <dt>Region *</dt>
            <dd><input type="text" name="Region" /></dd>

            <dt>Suburb *</dt>
            <dd><input type="text" name="Suburb" /></dd>

            <dt>Location *</dt>
            <dd><input type="text" name="Location" /></dd>

            <dt>Type *</dt>
            <dd><input type="text" name="Type" /></dd>

            <dt>Room *</dt>
            <dd><input type="text" name="Room" /></dd>

            <dt>Floor Area *</dt>
            <dd><input type="text" name="FloorArea" /></dd>

            <dt>Land Area *</dt>
            <dd><input type="text" name="landArea" /></dd>

            <dt>RV *</dt>
            <dd><input type="text" name="RV" /></dd>

            <dt>Email *</dt>
            <dd><input type="text" name="Email" /></dd>

            <dd>&nbsp;</dd>

            <dt><input type="reset" /></dt>
            <dd><input type="submit" /></dd>
        </dl>
    </form>
</div>
