
@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>
@Html.ActionLink("Register", "Index", "Seller")<br />
@Html.ActionLink("List a property", "Add", "Property")
<P>iHouse is a very popular website providing millions of real-time house information</P>
<div>
    <img src="~/Content/Images/House 1.png" width="300"/>
    <p>Find your ideal house here</p>
</div>