@model iHouse.Models.Seller
@{
    ViewBag.Title = "Detail";
}

<h2>My information</h2>

<div>
    <dl>
        <dt>Seller Id</dt>
        <dd>@Model.SellerId</dd>

        <dt>User Name</dt>
        <dd>@Model.UserName</dd>
    </dl>
</div>