@{
    ViewBag.Title = "RegisterSucceeded";
}

<h2>Register succeeded</h2>
Your submission has been processed.<br />
@*@Html.ActionLink("See my information", "Detail", "Seller")*@
@Html.ActionLink("List a property","Add","Property")
@Html.ActionLink("Go to the property market", "Index", "Property")
 
